CONFIG_RISCV=y
CONFIG_RISCV_64=y
CONFIG_64BIT=y
CONFIG_NR_CPUS=1
CONFIG_RISCV_ISA_RV64IMA=y
CONFIG_RISCV_ISA_C=y
CONFIG_HVM=y
CONFIG_QEMU=y
CONFIG_HAS_DEVICE_TREE=y
CONFIG_HAS_PDX=y
CONFIG_SCHED_CREDIT=y
CONFIG_SCHED_CREDIT_DEFAULT=y
CONFIG_SCHED_DEFAULT="credit"
CONFIG_CMDLINE=""
CONFIG_DOM0_MEM=""
CONFIG_DTB_FILE=""
CONFIG_HAS_NS16550=n
CONFIG_HAS_PASSTHROUGH=n
CONFIG_EXPERT=y
CONFIG_GRANT_TABLE=n
CONFIG_HYPFS=n
CONFIG_UNSUPPORTED=y
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_ACPI=n
